node_modules
.git
.gitignore

.gradle
android/.gradle
android/app/build
ios/build

.expo
.expo-shared
.cache

*.log
*.zip
*.apk
*.aab

coverage
dist
build
web-build

.env
.env.*

assets/raw
assets/videos